* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    line-height: 1.6;
    background-color: #F5F5F5; /* אפור בהיר לרקע */
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    color: #fff;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #ff0000 0%, #000000 100%);
    /*    background: linear-gradient(135deg, #0437F2 0%, #00008B 100%);*/
    position: sticky;
    top: 0;
    z-index: 100;
}


.header__wrap {
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    padding: 22px 25px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    height: 100px;
    width: 1000px;
    align-items: center;
}


.img {
    width: 18px;
    height: 18px;
    background-image: url("img/newspaper.png");
    background-size: cover;
    background-position: center;
    border-radius: 40%;
    filter: brightness(0) invert(1);
}




.title {
    flex: 1;
    text-align: center;
}

    .welcome h1 {
        font-size: 24px;
        margin-bottom: 5px;
        color: #fff;
    }

    .welcome h3 {
        font-size: 16px;
        font-weight: normal;
    }


.nav__links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav__links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav__links a:hover {
    color: white;
}



.section {
    padding: 40px 0;
}

.section:nth-child(even) {
    background: #f4f4f4;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

nav a:hover {
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

.img {
    width: 60px;
    height: 60px;
    background-image: url(img/newspaper.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__wrap h1{
    margin-left:110px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    
}

footer {
    background: linear-gradient(135deg, #000000 0%, #ff0000 100%);
    
    color: #fff;
    padding: 15px 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 280px;
    margin-top: 200px;
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.img1 {
    width: 70px;
    height: 70px;
    background-image: url("img/newspaper.png");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    
    position: static;
    
    margin: 1px auto 0 auto;
    filter: brightness(0) invert(1);
}

.footer__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer__links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

    .footer__links a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

        .footer__links a:hover {
            color: white;
            text-decoration: underline;
        }

.footer__mid {
    display: flex;
    gap: 8px;
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: center;
}

    .footer__mid span:first-child {
        font-weight: bold;
    }

.emojis {
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

    .emojis img {
        width: 25px;
        height: 25px;
        transition: transform 0.3s ease;
        border-radius: 20px;
    }

        .emojis img:hover {
            transform: scale(1.2);
        }

.footer__down {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #d0e1ff;
}

@media (max-width: 768px) {
    .footer__wrap {
        align-items: center;
    }

    .img1 {
        position: static;
        margin-bottom: 10px;
    }
}


/*cards*/


.cards__title {
    text-align: center;
    margin: 40px 0;
    background: linear-gradient(90deg, #000000, #A30000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 20px;
}

.cards__wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cards__item {
    width: calc(100% / 3 - 10px);
    height: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, 0.40);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 20px;
}

.cards__item-img1 {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    background-image: url(img/card1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}


.cards__item-img2 {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    background-image: url(img/card2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}

.cards__item-img3 {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    background-image: url(img/card3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}

.link1 {
    background-color: #8B0000;
}
.link2  {
    background-color: white;
}
.link3 {
    background-color: #032961;
    
}
a.link2 {
    color: #CD2026;
}
.cards__info{
    margin-top: 10px;
    font-size: 12px;
    color:  darkgrey;
}

.cards__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__item-content h2{
    text-align:center;
    margin-top:20px;
}

.cards__item-content img{
    margin-top:50px;
    width:30px;
    transition:0.3s ease;
}

.cards__item-content img:hover{
    transform:scale(1.3);
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.btn:hover{
    transform:scale(1.1);
}

.servicesitem {
    background-color: white;
    color: white;
    border-radius: 20px;
    padding: 30px;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 6px 2px gray;
    transition: 0.6s ease;
}

.text {
    display: flex;
    align-items: center;
    color: black
}

.servicesitem img {
    width: 60px;
    margin: 10px 0;
}

.servicesitem p {
    color: #899499;
    
}

.serviceswrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin: 50px 0;
   
   
}

.servicesitem:hover {
    transform: translateY(-7px);
    box-shadow: 0 6px 20px rgba(220, 38, 38, 0.35);
}

.servicestitle {
    text-align: center;
    font-size: 27px;
}



.servicesitem h2 {
    background: linear-gradient(90deg, #750000, #A30000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.services{
    margin-top: 100px
}
p{
    text-align: center;
}
.servicestitle {
    background: linear-gradient(90deg, #A30000, #000000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.divider {
    height: 2px;
    width: 60%;
    background: linear-gradient(90deg,transparent, rgba(125, 0,0,0.6), transparent);
    margin: 60px auto;
}
.servicesitem a{
    margin-top: 5px;
    text-decoration: none;
    color: darkred;
    text-decoration: underline;
}